{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
</head>
<body>
    <div class="navbar-container">
        <nav class="navbar">
            <ul class="nav-ul">
                <li class="nav-li"><a href="{% url 'home' %}">Home</a></li>
                <li class="nav-li"><a href="#">Pets</a></li>
                <li class="nav-li"><a href="#">About</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-li"><a href="{% url 'user-profile' user.pk %}">{{ user.username }}</a></li>
                    <li class="nav-li"><a href="{% url 'logout' %}">Sign Out</a></li>
                {% else %}
                    <li class="nav-li"><a href="{% url 'register' %}">Register</a></li>
                    <li class="nav-li"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>